{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Refactory Canteen</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
      <img src="../static/images/refactory-canteen-high-resolution-logo.png" width="150px" height="100px" alt="logo">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Transactions</a>
          </li>

        </ul>
        <form method="post" action="/search/" class="d-flex" role="search">
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search Products, Brands and Categories</button>
        </form>
      </div>
    </div>

  </nav>

  <br><br>
  {% block content %}
  {% endblock %}
  <footer class="footer">
    &copy; Copyright @Refactory Canteen
    <div>
      Designed By <a href="https://github.com/Melissa9mpenzi">Melissa</a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>